body {
	background: #66CCCC;
}
input{
	text-align:center
}
#searchDiv{
	width:100%;
	margin-left:auto;
	margin-right:auto;
}

#searchResults{ 
	background: white;
	width:60%; 
	min-height:110px;
	left:20%;
	display:none; 
	position:absolute;
	top:5px;
	border-radius: 15px;
	z-index:1;
}

#actorList {
	background: white;
	position:absolute;
	width: 29%;
	top:130px;
	left:5px;
	display:none; 
	border-radius: 5px;
	z-index:0;
}

#movieList {
	background: white; 
	position:absolute;
	width: 69%;
	top:130px;
	right:5px;
	border-radius: 5px;
	z-index:0;
}

#spinner {
	position:relative;
	width:10%;
	margin-left:auto;
	margin-right:auto;
	z-index:2;
	top:2px;
}