body {
	background: #66CCCC;
}
input{
	text-align:center
}
#searchDiv{
	width:100%;
	margin-left:auto;
	margin-right:auto;
}

#searchWrapper {
    width: 100%;
	height:100%;
    background-image: none;
    background-repeat: repeat;
    background-attachment: scroll;
    background-position: 0% 0%;
    position: fixed;
    top: 0pt;
    left: 0pt;
	display:none;
	z-index:2;
}

#searchHeader {
	background: white;
	width: 80%;
	margin: auto;
	max-width:800px;
	-moz-box-shadow:    0px 3px 2px 3px #ccc;
	-webkit-box-shadow: 0px 3px 2px 3px #ccc;
	box-shadow:         0px 3px 2px 3px #ccc;
	z-index:2;
}

#searchResults{ 
	background: white; 
	max-width:800px;
	min-height:110px;
	height:90%;
	width:80%;
	margin: auto;
	overflow-y: auto;
	
	position:relative;
	top:0px;
	
	border-bottom-left-radius: 15px;
	border-bottom-right-radius: 15px;
	
	-moz-box-shadow:    0px 3px 2px 3px #ccc;
	-webkit-box-shadow: 0px 3px 2px 3px #ccc;
	box-shadow:         0px 3px 2px 3px #ccc;
	

	z-index:2;
}

#actorList {
	background: white;
	position:absolute;
	width: 29.5%;
	
	left:0px;
	display:none; 
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	z-index:0;
	
	-moz-box-shadow:    3px 0px 2px 3px #ccc;
	-webkit-box-shadow: 3px 0px 2px 3px #ccc;
	box-shadow:         3px 0px 2px 3px #ccc;
}

#movieList {
	background: white; 
	position:absolute;
	width: 69.5%;
	
	right:0px;
	display:none; 
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
	z-index:0;
	
	-moz-box-shadow:    -3px 0px 2px 3px #ccc;
	-webkit-box-shadow: -3px 0px 2px 3px #ccc;
	box-shadow:         -3px 0px 2px 3px #ccc;
}

#infoWrapper {
	height:90%;
    width: 100%;
    background-image: none;
    background-repeat: repeat;
    background-attachment: scroll;
    background-position: 0% 0%;
    position: fixed;
    bottom: 0pt;
    left: 0pt;
	display:none;
	z-index:3;
}

#moreInfo {
	height:100%;
    width: 80%;
	max-width:800px;
    margin:auto;
	bottom:0px;
	
	background: white; 
	
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
	
	-moz-box-shadow:    0px -3px 2px 3px #ccc;
	-webkit-box-shadow: 0px -3px 2px 3px #ccc;
	box-shadow:         0px -3px 2px 3px #ccc;
	
	z-index:3;
}

#infoLeft{
	background: white;
	float:left;
	width: 30%;
	left:0px;
	z-index:3;
}

#infoRight{
	background: white;
	float:right;
	width: 70%;
	height: 74%;
	bottom:0px;
	right:0px;
	z-index:3;
	
	font-size:small;
}

.ui-tabs .ui-tabs-nav li {
    width:48%;
    text-align: center;
}
.ui-tabs .ui-tabs-nav li a {
    display: inline-block;
    float: none;
    padding: 5px;
    text-decoration: none;
    width: 96%;
}

#infoTabs-1 {
	overflow-y: auto;
	height:100%;
}

#infoTabs-2 {
	overflow-y: auto;
	height:100%;
}

#spinner {
	position:fixed;
	width:10%;
	left:45%;
	right:45;
	z-index:1;
	top:150px;
}

#mask {
	width:100%;
	height:100%;
	background:black;
	position:fixed;
	top:0px;
	bottom:0px;
	left:0px;
	z-index:1;
	display:none;
	
	opacity: 0.8;
	-khtml-opacity: 0.5;
	-moz-opacity:0.5;
	filter: alpha(opacity=50);
}