body {
	background: #66CCCC;
}
input{
	text-align:center
}
#searchDiv{
	width:100%;
	margin-left:auto;
	margin-right:auto;
}

#searchResults{ 
	background: white;
	width:60%; 
	min-height:110px;
	left:20%;
	display:none; 
	position:absolute;
	top:0px;
	border-bottom-left-radius: 15px;
	border-bottom-right-radius: 15px;
	
	-moz-box-shadow:    0px 3px 2px 3px #ccc;
	-webkit-box-shadow: 0px 3px 2px 3px #ccc;
	box-shadow:         0px 3px 2px 3px #ccc;
	

	z-index:1;
}

#actorList {
	background: white;
	position:absolute;
	width: 29.5%;
	top:130px;
	left:0px;
	display:none; 
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	z-index:0;
	
	-moz-box-shadow:    3px 0px 2px 3px #ccc;
	-webkit-box-shadow: 3px 0px 2px 3px #ccc;
	box-shadow:         3px 0px 2px 3px #ccc;
}

#movieList {
	background: white; 
	position:absolute;
	width: 69.5%;
	top:130px;
	right:0px;
	display:none; 
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
	z-index:0;
	
	-moz-box-shadow:    -3px 0px 2px 3px #ccc;
	-webkit-box-shadow: -3px 0px 2px 3px #ccc;
	box-shadow:         -3px 0px 2px 3px #ccc;
}

#spinner {
	position:relative;
	width:10%;
	margin-left:auto;
	margin-right:auto;
	z-index:2;
	top:2px;
}